$primary-color: #222f44;
$secondary-color: #2f3d56;
$blue-color: #23cae5;
$green-color: #4bd3b3;
$red-color: #cf513d;
$white-color: #ffffff;
$black-color: #000000;
$wishper-gray-color: #f4f5f7;
$whisper-button-color: #ebecf0;
$whisper-area-color: #e3e4e9;
$border-blue-color: #0079bf;
$list-color:#dfe1e6;